*{
	margin:0px;
	padding:0px;
}
body{
	background-color:lightgrey;
	
}

.contenedor{
	background-color: aliceblue;
	width: 90%;
	padding: 20px;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(2, 1fr);
	grid-column: span 2;
}

.cabecera{
	background-color: skyblue;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: span 2;
}

.titulo{
    background-color:yellowgreen;
	grid-column:span 1;
	width: 95%;
	padding: 10px;
	text-align: justify;
}

.titulo video{
	width: 95%;
}

.contenido{
	background-color:skyblue;
	padding: 10px;
	text-align: justify;
	font-size: 25px;
	grid-column: span 1;
}



.logo{
	background-color:pink;
	text-align: center;
	grid-column: span 2;
}
.logo img{
	height: 100%;
	width: 100%;
}


.menu{
	background-color: indianred;
	grid-column: span 2;
	text-align: center;
	text-shadow: black 2px 2px 2px;
}


.menulista{
	list-style: none;
	padding: 0px;
	display: flex;

}


.menulink{
	text-decoration: none;
	color: #fff;
	border: 1px solid;
	background-color: indianred;
	padding: 10px 85px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #000;
	display: block;
	margin: 10px;
}


.menulista a:hover{
	background-color: palevioletred;
	color: royalblue;
	font-weight: bolder;
	transition-duration: 1s;
}

.principal{
	background-color:hotpink;
	grid-column:span 1;
}

.texto1{
	background-color:lightyellow;
	grid-column: span 1;
	padding: 45px;
	text-align: justify;
	text-align: center;
}

.texto2{
	bacKground-color:lightyellow;
	grid-column: span 1;
	padding: 45px;
	text-align: justify;
	text-align: center;
}

.minis{
	background-color:lightpink;
	grid-column:span 1;
	padding: 5px;
	text-align: justify;
}

.pie{
	background-color:yellow;
	grid-column:span 2;
	text-align: center;
}

.pie a{
    color: black;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}

.pie a:hover{
    color: darkred;
}

.pie div{
	grid-column: span 2;
}

.hamburguesa{
	display: none;
	cursor: pointer;
}

.barra{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: #333;
	
}


.cafe{
	width: 100%;
}


@media (max-width: 768px){

	.contenedor{
		grid-template-columns: repeat(2, 1fr);
		width: 98%;
		padding: 5px;
	}

	.cabecera{
		grid-template-columns: repeat(2, 1fr);
	}
	.titulo{
		grid-column: span 2;
	}
	.contenido{
		grid-column: span 2;
	}

	.logo{
		grid-column: span 2;
		text-align: center;
	}
	
	

	.texto1{
		display: none;
		grid-column: span 1;
	}

	.texto2{
		display: none;
		grid-column: span 1;
	}

	.minis{
		grid column: span 2;
	}
	.imagenes{
		grid-column: span 2;
	}

	.hamburguesa{
		display: block;
	}

    .hamburguesa.active .barra:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburguesa.active .barra:nth-child(2){
		opacity: 0;
	}
	.hamburguesa.active .barra:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}


	.menu{
		flex-direction: column;
		background-color: indianred;
		text-align: center;
	}

	.menulista{
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.menulista.active{
		display: flex;
	}

	.cafe img{
		height: 50%;
		width: 100%;
	}
}

    @font-face{
	   font-family:aliens;
	   src :url(../fuentes/aliens.ttf);
   }